<div class="fluid-container h-100">
  <div class="row">
    <div class="col">
      <app-account></app-account>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 border border-bottom-0">
      <app-depositer></app-depositer>
    </div>
    <div class="col-lg-6 border border-bottom-0">
      <app-taker></app-taker>
    </div>
  </div>
  <div *ngIf="myBalance !== null" class="row">
    <div class="col text-center">
      My Current Balance is: {{ myBalance| number : '1.9-9' | noComma  }}
    </div>
  </div>
</div>