<div class="fluid-container h-100">
  <div class="row">
    <div class="col">
      <app-account></app-account>
    </div>
  </div>
  <div *ngIf="walletService.privateKey" class="row">
    <div class="col-lg-6 border border-bottom-0">

      <app-depositer></app-depositer>

      <div *ngIf="myBalance !== null" class="row">
        <div class="col text-center">
          Balance: {{ myBalance| number : '1.2-2' | noComma  }}
        </div>
      </div>
    </div>
    <div class="col-lg-6 border border-bottom-0">
      <app-taker></app-taker>
    </div>
  </div>
</div>