<div class="m-5">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="amount">Amount*</label>
        </div>
        <input
            required
            type="text"
            class="form-control text-center"
            id="amount"
            name="amount"
            placeholder="10"
            [dropSpecialCharacters]="false"
            [allowNegativeNumbers]="false"
            [mask]="'separator.0'"
            [(ngModel)]="amount"
        >
    </div>
    <div class="text-center">
        <span style="font-size: 15px;">*only 10 is working for hackaton</span>
    </div>
</div>

<div class="m-5">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="secret">Secret</label>
        </div>
        <input required type="text" class="form-control" id="secret" name="secret" placeholder="Any secret word..." [(ngModel)]="model.secret">
    </div>
</div>

<div class="m-5 text-center">
    <button class="btn btn-lg btn-dark" (click)="deposit(mymodal)" [disabled]="isGenerating">Deposit</button>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header mx-auto">
      <h4 class="modal-title" id="modal-basic-title">Copy nonce below to withdraw...</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-8 text-center my-3">
                {{proof | slice:0:5}}...{{proof | slice: -5}}
            </div>
            <div class="col-4 text-center my-3">
                <fa-icon class="copy float-left" size="1x" [icon]="faCopy" (click)="copyProof()"></fa-icon>
            </div>
        </div>
        <div class="row">
            <div *ngIf="isCopied" class="col text-center">
                Copied!
            </div>
        </div>
    </div>
</ng-template>