<div class="m-5">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="taker_amount">Amount</label>
        </div>
        <input
            required
            type="text"
            class="form-control text-center"
            id="taker_amount"
            name="taker_amount"
            placeholder="deposited amount..."
            [dropSpecialCharacters]="false"
            [allowNegativeNumbers]="false"
            [mask]="'separator.0'"
            [(ngModel)]="amount"
        >
    </div>
</div>

<div class="m-5">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="proof">Nonce</label>
        </div>
        <input required type="text" class="form-control" id="proof" name="proof" placeholder="Paste here..." [(ngModel)]="model.proof">
    </div>
</div>

<div class="m-5 text-center">
    <button class="btn btn-lg btn-dark" (click)="take(mymodal)" [disabled]="isWithdrawing">Withdraw</button>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header mx-auto">
      <h4 class="modal-title" id="modal-basic-title">Withdraw is success!</h4>
    </div>
    <div class="modal-body">
        
    </div>
</ng-template>