<div class="m-5">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="taker_amount">Amount</label>
        </div>
        <input
            required
            type="text"
            class="form-control text-center"
            id="taker_amount"
            name="taker_amount"
            placeholder="10"
            [dropSpecialCharacters]="false"
            [allowNegativeNumbers]="false"
            [mask]="'separator.0'"
            [(ngModel)]="amount"
        >
        <div class="input-group-append">
            <label class="input-group-text col-form-label" for="taker_amount">Only 10 is working for hackaton</label>
        </div>
    </div>
</div>

<div class="m-5">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="proof">Proof</label>
        </div>
        <input required type="text" class="form-control" id="proof" name="proof" placeholder="Paste here..." [(ngModel)]="model.proof">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="nullifier_hash">Hash</label>
        </div>
        <input required type="text" class="form-control" id="nullifier_hash" name="nullifier_hash" placeholder="Paste here..." [(ngModel)]="model.nullifierHash">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text col-form-label" for="root">Root</label>
        </div>
        <input required type="text" class="form-control" id="root" name="root" placeholder="Paste here..." [(ngModel)]="model.root">
    </div>
</div>

<div class="m-5 text-center">
    <button class="btn btn-lg btn-dark" (click)="take()">Take</button>
</div>